/* name: Melvin Dacanay 
section: Web Programming DSCI4370
file details: Css stylesheet */

body{
    background-image: url("images/background.png");
}

body .banner, body .title{
    text-align: center;
}

.main-banner{
    background-image: url("images/bannerbackground.png");
    width: 1500px;
    width: 100%;
    place-self: center;
}

.movie-section {
    border: 2px solid black;
    background-color: #A2B964;
    display: grid;  
    width: 100%;
    max-width: 800px;
    grid-template-columns: 550px 250px;
    grid-template-rows: 83px 329px 451px 30px;
    place-self: center;
}

/* review title banner */

.rotten-banner {
    display: flex;
    justify-content:left;
    background-image: url("images/rottenbackground.png");
    gap: 10px;

    grid-row-start: 1;
    grid-row-end: 2;

    grid-column-start: 1;
    grid-column-end: 3;
}

.rotten-banner h1{
    z-index: 1000;
    color: red;
    font-size: 48pt;
    position: relative;
    font-weight: 700;
    bottom: 30px;
    font-family: sans-serif;
}

.rotten-banner p{
    z-index: 1000;
    position: relative;
    font-size: 8pt;
    color: white;
    top: 50px;
}

/* review container */

.review-container {
    background-image: url("images/background.png");
    display: flex;
    flex-direction: column;

    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;

    padding: 10px;
    gap: 10px;
    flex-wrap: wrap;
}

.review {
    width: 47%;
    box-sizing: border-box;
    height: fit-content;
}


.review-text{
    border: 4px solid grey;
    background-color: #E1D697;
    padding: 8px;
    justify-content:flex-start;
    font-size: 8pt;
    font-weight: 600;
}

#review-text{
    border: 4px solid grey;
    background-color: #E1D697;
    background-color: transparent;
    padding: 8px;
    justify-content:flex-start;
    font-size: 8pt;
    font-weight: 600;
}



.review-text img {
    margin-right: 5px;
    display: flex;
    float: left;
}

.author {
    display: flex;
    justify-content: left;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 8pt;
}

.author p{
    position: relative;
    bottom: 15px;
}

.author img{
    width: 40px;
    height: 40px;
}


/* movie info */

.cell{
    display: flex;
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    width: 100%;
}

.movie-info{
    display: flex;
    flex-direction: column;
    justify-self: stretch;
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100%;
    font-size: 8pt;
    line-height: 150%;
    padding-left: 10px;
    box-sizing: border-box;
}

.movie-info dt {
    font-weight: 700;
}

/* bottom */

.page{
    grid-row-start: 4;
    grid-column-start: 1;
    grid-column: span 3;
    text-align: center;
    position: relative;
    background-color: #A2B964;
}

@media (max-width: 700px){
    .movie-section {
        grid-template-columns: 1fr;
        grid-template-rows: 83px 1fr 1fr 30px;
        grid-template-columns: auto auto;
        width: 100%;
        place-self: center;
    }
    .review {
        width: 100%;
    }

}